.table1,td {
  border-top: 1px solid black;
  font-family: 'Roboto', sans-serif;
  width: 375px;
}

p {
font-size: 1.25em;
font-style: bold;
color: white;
text-transform: uppercase;
padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: left;
  background-color: #303030;

}

/* Bus Stop*/
h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.125em;
  background-color: #1DB523;
  color: white;
  line-height: 2em;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  width: 375px;

}
/* Status Bar */
img {
  display: inline-block;
  width: 375px;
  height: auto;
  margin-bottom: -12px;
}
/* Bus listing */
tr {
  text-align: left;
}

td {
  padding-top: 10px;
padding-bottom:10px;
padding-left: 10px;
}

.table-header, th {
  background-color: silver;
  padding-left: 10px;

}

td {
  line-height: -10px;
}

/* unvisited link*/

tr:hover {
  background-color: #1DB523;
}

.out-of-service td {
  padding-left: -10px;
}
